.container{
    margin-left: auto; 
    margin-right: auto
}

#progressBar{

    width:0px;
    height:50px;
    background-color: red;
    width:100%;
    height: 3px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position:fixed;
    color: red;
    left:0px;
    top:0px;
}

nav{
  background-color:gray;
  }


